@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Space Mono', monospace;
      background-image: linear-gradient(90deg, #E586F7F0 35%, #33dee6 100%);   
}

h2{
  text-align: center;
  text-shadow: 1px 1px 1px rgb(137, 25, 250),
               2px 2px 1px rgb(137, 25, 250);
               color: #E586F7F0;
               height: 60px;
}

hr{
  width: 76%;
  margin-top: 0.7em;
  margin-bottom: 1em;
}

i{
  color: #33dee6;
}

/* navigation */

#id-container{
  height: 65px;
  width: 100%;
  position: relative;
}

#links  {
  font-weight: 500;
  float: right;
  margin-right: 15px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  border: solid 2px white;
  border-radius: 10px;
  background-color: black;
}

#logo, #links{
  line-height: 50px; 
}

li a{
  margin-right: 20px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  filter: contrast(200%);  
}

nav > ul > li {
  float:left;
  list-style-type: none;   
}
/* logo */

#logo{
  color: white;
  display: inline-block;
  animation: flicker 3s infinite normal;
  margin: 10px; 
  font-size: 48px; 
}

#span-link{
  animation: flicker 3s infinite normal;
  font-size: 200%;
  vertical-align: bottom;
  margin-right: 20px;
  color: white;
}

  @keyframes flicker {
   0%, 20%, 40% { 
  
  text-shadow: 
  0 0 10px  rgb(137, 25, 250),  
  0 0 20px  rgb(137, 25, 250),
  0 0 30px rgb(137, 25, 250),
  0 0 50px #E586F7F0 ,
  0 0 60px #E586F7F0 ,
  0 0 70px #E586F7F0 ;
   }
10%, 18%, 38%{
  text-shadow:none;
}
}

nav > ul > li > a:hover {
 color: #E586F7F0;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #E586F7F0 ,
              0 0 0.8rem #E586F7F0 ,
              0 0 2.8rem #E586F7F0 ,
              inset 0 0 1.3rem #E586F7F0 ;
 transition: all 0.2s ease-in-out;
 font-weight: bolder;
}

/*IMAGE */

.hero-image{
  background: url(../img/btc22.png) no-repeat center center;
  height: 100vh;
  width: 100%;
  background-image: no-repeat center center;
  display: flex;
  position: relative;
  z-index: 200;
  justify-content: center;
    align-items: center;
}

.img-btn{
  
  text-decoration: none;
  padding: 0.8em 2em;
  border-radius: 8px;
  font-weight: 500;
  color:#8919FA;
  background-color: black;
  position: absolute;
  top: 75%;
  height: 72px;
}

#hero-h1{
  font-size: 3em;
  color: black;
}

#hero-h1 > a{
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 1px rgb(137, 25, 250),
  2px 2px 1px rgb(137, 25, 250);
}

.img-btn:hover{
  color: #fff;
  border: 0.2rem solid #fff;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #E586F7F0,
              0 0 0.8rem #E586F7F0,
              0 0 2.8rem #E586F7F0,
              inset 0 0 1.3rem #E586F7F0;
 transition: all 0.2s ease-in-out;
 background-color: #33dee6;
}

/* content */

.content{
  background-color: white;
}

 .content > div{
  margin: 5px 15px;
  line-height: 2em;
  font-weight: bolder;
  letter-spacing: 4px;
  width: 76%;
}

section > h2{
  margin: 20px;
}

/* 10 Facts */

.facts-10 > ul > li{
 padding: 20px 5px;
 list-style-type: none;
}


.facts-10{
  display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em 0.5em;
}
@media screen and (min-width:1090px){
.facts-10 > h2{
  padding-top: 50px;
}
}
/* footer */

footer{
  height: 100px;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials > li{
  display: inline; 
  list-style-type: none;
}

.socials i{
  font-size: 200%;
  color:#8919FA ;
  float: right;
  margin-right: 20px;
  
}

footer > p{
  font-size: 150%;
  margin-left: 50px;
  font-weight: bolder;
    
}

/* contact us */
.container{
  background-color: #8919FA;
}

.contact-box{
  max-width: 1440px;
  margin: 0 ;
  display: flex;
}

form {
  max-width: 500px;
  padding: 1.875em;
}

form label {
  color: #33dee6;
   font-size: 1.125em;
}
  .input,
  textarea {
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 0.5em 0.5em;
    border: 1px solid black;
    transition: all 300ms ease;
    margin-bottom: 1.2em;
    margin-top: 1em;
  }

  .btn{
    width: 100%;
    background: black;
    color: #8919FA;
    text-shadow: 1px 1px 1px rgb(137, 25, 250),
  2px 2px 1px rgb(137, 25, 250);
  font-size: 1.15em;
  padding: 10px 8px;
  border-radius: 10px;
  letter-spacing: 15px;
  }

.btn:hover{
  background-color: #33dee6;
  transition: all 0.3s ease-in-out;
}

.right{
  
  width: 600px;
  height: 580px;
  padding-top: 300px;
  padding-left: 50px;
}

.right > ol > li{
  margin: 1em 1em;
  color: #33dee6;
  text-align: center;
   margin-top: 20px;
   line-height:2em;
}

.right > p{
  text-align: center;
  font-size: larger;
  font-weight: bolder
}

.right li:hover{
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

.left:hover{
  border: 2px solid #33dee6;
}


/* Responsive */

@media screen and (max-width:1028px) {
  .content{
    width: 80%;
    height: 1185px;
    margin: 0 auto;
  }
  .facts-10{
    width: 70%;
    height: 750px;
    margin: 0 auto;
    display: block;
    padding: auto;
  }

  #media{
    width: 80%;
    height: 910px;
    margin: 0 auto;
  }
  .content > div{
    width: 90%;
  }
  footer{
    width: 65%;
    margin: 0 auto;
    clear: both;
    display: grid;
    place-items: center;
    justify-content: center;
  }

  p{
    text-align: center;
    padding: 0 10px;
  }

#hero-h1 {
  width: 300px;
}

  .right{
    display: none;
  }
  form{
    max-width: 700px;
  }
}

@media screen and (max-width:728px){
  .content{
    width: 100%;
    height: 2050px;
    margin: 0 auto;
}

.facts-10{
  width: 100%;
  height: 950px;
  margin: 0 auto;
  display: block;
  padding: auto;
}

#media{
  width: 100%;
  height: 1440px;
  margin: 0 auto;
}

#links{
  width: 100%;
  margin: 0;
}

#logo{
  padding-top: 50px;
}

p{
  text-align: justify;
}

footer > p{
  text-align: center;
}

footer{
  width: 100%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  justify-content: center;
}

.left > h2{
  padding-top: 60px;
  padding-bottom: 30px;
}

}